h3,
ul,
li {
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica, sans-serif;
}

/* Attritution: sample from https://icomoon.io/app/ */
/* the icon font */
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?eec44f');
    src:    url('fonts/icomoon.eot?eec44f#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?eec44f') format('truetype'),
        url('fonts/icomoon.woff?eec44f') format('woff'),
        url('fonts/icomoon.svg?eec44f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
}

/* The menu */

label {
    cursor: pointer;
}

label:focus {
    outline: none;
}

.menu {
    /* TODO: absolute position produces some gap to the left of the browser */
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 240px;
    height: 100vh;
    transform: translate3d(-240px, 0, 0);
    transition: transform 0.5s;
    z-index: 2;
    opacity: 0.95;
}

.menu label.menu-toggle-button {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    /* TODO: add credit and custom fonts */
    background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
}

/* hide inputs */
.menu-checkbox {
    display: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
    transform: translate3d(0, 0, 0);
}

h3 {
    margin-bottom: 8px;
}

.search-bar {
    padding: 20px;
}

input {
    width: 200px;
}

.list-div {
    height: calc(100% - 60px);
    overflow: scroll;
}

li {
    padding: 20px;
    margin: 2px;
    list-style: none;
    background-color: #CCC;
}

li:first-child {
    margin-top: 0;
}

.mapDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
}

.recenterMap {
    display: none;
    width: 29px;
    height: 29px;
    position: absolute;
    right: 10px;
    bottom: 127px;
}

/* TODO: see how bootstrap sets the background gradient
 * and how setting border width breaks it.
 */
#recenterMap {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: #cccccc;
    position: absolute;
}

button:focus {
    outline: 0;
}

#recenterMap::after {
    width: 19px;
    height: 19px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ff9800;
    border-radius: 50%;
    background-color: #fed89d;
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
}

.infoWindowContent {
    width: 500px;
    height: 374px;
    overflow-y: scroll;
    opacity: 0.9;
    margin-left: 22px;
    font-family: helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h5 {
    margin-bottom: 3px;
    margin-top: 5px;
}

/* Attritution: sample from https://icomoon.io/app/ */
.like-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.like-icon:before {
    content: "\e9da";
    margin-left: 10px;
    color: #eee;
}

.venueImg {
    width: 450px;
}

img {
    width: 450px;
}

img:nth-child(odd) {
    margin-right: 2%;
}

.attribution p, h1 {
    margin: 0;
    font-size: 0.8em;
    font-weight: lighter;
}

#sign-in-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 1.4;
    z-index: 2;
    opacity: 0.95;
    background: #fff;
}
